#root {
  /* max-width: 1280px; */
  margin-bottom: 2rem;
  text-align: center
}

h1 {
  margin-top: 2rem;
}

img {
  padding: 2rem;
  height: auto;
  max-width: 100%;
}

/* Style the navbar */
#navbar {
  position: sticky;
  z-index: 10;
  top: 0;
  overflow: hidden;
  background-color: #333;
  text-align: center;
  padding: 0;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}



.card {
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 2em;
  text-align: left;
  max-width: 800px
}
